.bg-navBarMobile {
  background-color: #5b2d64 !important;
}

a.navBarMobile:hover, a.navBarMobile:focus,
button.navBarMobile:hover,
button.navBarMobile:focus {
  background-color: #5b2d64 !important;
}


body {
  background-image:url(Fond_coco.jpg);
  background-image:url(Fond_coco.jpg);
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.text-navbar {
  color: rgb(255, 250, 203) !important;
}

.bg-mon-histoire {
  background-color: rgba(225, 217, 241, 0.70)!important;
}

.mb-6 {
  margin-bottom:4rem!important
}